<style>
table {
  width: 100%;
}

th {
  text-align: left;
}
</style>

<table>
  <thead>
    <tr>
      <th>Collection</th>
      <th>Operation</th>
      <th>Query</th>
      <th>Executed</th>
      <th>Total Millis</th>
      <th>Average Millis</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0, length = queryStats.length; i < length; i++) { %>
      <tr>
        <td><%= queryStats[i].collection %></td>
        <td><%= queryStats[i].operation %></td>
        <td><%= queryStats[i].query %></td>
        <td><%= queryStats[i].totalExecutions %></td>
        <td><%= queryStats[i].totalMillis %></td>
        <td><%= Math.round(queryStats[i].totalMillis/queryStats[i].totalExecutions) %></td>
      </tr>
    <% } %>
  </tbody>
</table>